
body {
    background: grey;
    margin:0;
}
div {
    box-sizing: border-box;
}
header {
    background:white;
    padding:10px;
}
header h1 {
    margin-right: 125px;
    text-align: center;
}
.post {
background: white;
margin-top: 10px; 
border-radius: 10px;
}
.post img{
    width: 100%;
}
.post, .post-header div:first-child {
display: inline-block;
width: 20%;
}

.post, .post-header div:last-child {
display: inline-block;
width: 80%;
text-align:right;
padding: 10px;
color:gray ;
}
.post h2, .post p{
    padding: 10px;
    margin:0;
    text-align: left;
}
.post h3, .post p{
    padding: 10px;
    margin:0;
    text-align: left;
}
.post h4, .post p{
    padding: 10px;
    margin:0;
    text-align: left;
}
.post h5, .post p{
    padding: 10px;
    margin:0;
    text-align: left;
}
.container {
    width: 600px;
    margin: auto;
}
